<div class="navbar onpage">
  <div class="navbar-inner">
    <div class="left sliding"><a class="open-panel link icon-only" href="#"><i class="material-icons md-36">keyboard_arrow_left</i></a></div>
    <div class="center sliding">{{t "account.title" defaultValue="Account"}}</div>
    <div class="right"></div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="account" class="page" id="account-page">
    <div class="page-content padding-none">
      <div id="profile-header"></div>
      <div id="team-profile"></div>
      <div id="team-member-profile"></div>
      <div id="user-profile"></div>
      <div id="app-settings"></div>
      <div class="list-block inset">
        <a href="#" class="button button-big color-blue button-fill logout-button">{{t "label.logout" defaultValue="Logout"}}</a>
      </div>
    </div>
  </div>
</div>
