<div class="navbar onpage">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link icon-only"><i class="material-icons md-36">keyboard_arrow_left</i></a></div>
    <div class="center sliding">{{t "actions.settings_title" defaultValue="Action Settings"}}</div>
    <!-- <div class="right">
      <a class="link icon-only" href="#"><i class="lnr lnr-cog"></i></a>
      <a class="link icon-only" href="#"><i class="lnr lnr-exit-up"></i></a>
    </div> -->
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="action-settings" class="page" id="action-settings">
    <div class="page-content" data-template="actionSettingsTemplate">
    </div>
  </div>
</div>
