<div class="navbar onpage">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link icon-only"><i class="material-icons md-36">keyboard_arrow_left</i></a></div>
    <div class="center sliding">{{t "actions.settings_title" defaultValue="Action Settings"}}</div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="action-builder-settings" class="page" id="action-builder-settings">
    <div class="page-content" data-template="actionSettingsTemplate">
    </div>
    <div class="toolbar toolbar-bottom toolbar-bottom-button">
      <a href="views/actions.html" class="button button-big color-blue button-fill fixed-button">{{t "label.complete" defaultValue="Complete"}}</a>
    </div>
  </div>
</div>
