<div class="navbar onpage">
  <div class="navbar-inner">
    <div class="left sliding"><a class="open-panel link icon-only" href="#"><i class="material-icons md-36">keyboard_arrow_left</i></a></div>
    <div class="center sliding">Settings</div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="add-contacts-settings" class="page">
    <div class="page-content">
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <!-- <div class="item-media"><i class="icon f7-icons">check</i></div> -->
              <div class="item-inner">
                <div class="item-title label">Sync Contacts</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox">
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="list-block-label">Continuously sync your device contacts so you can find people you know on Tommy.</div>
      </div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <!-- <div class="item-media"><i class="icon f7-icons">check</i></div> -->
              <div class="item-inner">
                <div class="item-title label">Allow others to add me</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox">
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="list-block-label">Enable to allow others to automatically add you as a contacts using your phone number.</div>
      </div>
    </div>
  </div>
</div>
