<div class="navbar">
    <div class="navbar-inner">
    </div>
</div>
<div class="pages">
    <!-- login-screen-embedded  -->
    <div class="page no-navbar splash-page" data-page="enable-contacts" id="enable-contacts">

      <div class="notific">
        <div class="logo-vertical">
          <img class="logo-slider-header" alt="Tommy" title="Tommy" src="images/Logo.png">
          <img class="tommytext-slider-header" alt="Tommy Text" src="images/TommyTextOrange.png">
        </div>

        <div class="bubble">
          <div class="bubble-text">
            <strong>{{t "onboarding.enable_contacts_hint_title" defaultValue="Find Contacts to Message"}}</strong>
            <p>
              {{t "onboarding.enable_contacts_hint" defaultValue="Tommy is better when you have people to message.<br>Continuosly uploading your Contacts helps you connect and make the most of Tommy. We will never contact anyone without your permission."}}
            </p>
          </div>
          <a href="#" class="enable-contacts">{{t "onboarding.turn_on_label" defaultValue="Turn On"}}</a>
        </div>
        <div class="link-bottom">
          <a href="views/login.html">{{t "onboarding.not_now_label" defaultValue="Not Now"}}</a>
        </div>
      </div>

    </div>
</div>