<div class="navbar">
    <div class="navbar-inner">
    </div>
</div>
<div class="pages">
    <!-- login-screen-embedded  -->
    <div class="page no-navbar splash-page" data-page="enable-notifications" id="splash-page">

      <div class="notific">
        <div class="logo-vertical">
          <img class="logo-slider-header" alt="Tommy" title="Tommy" src="images/Logo.png">
          <img class="tommytext-slider-header" alt="Tommy Text" src="images/TommyText.png">
        </div>

        <div class="bubble">
          <div class="bubble-text">
            <strong>{{t "onboarding.enable_notifications_hint_title" defaultValue="Tommy works best when Notifications are enabled"}}</strong>
            <p>
              {{t "onboarding.enable_notifications_hint" defaultValue="Avoid missing messages and reminders by turning on Notification in phone Settings."}}
            </p>
          </div>
          <a href="#" class="enable-notification">{{t "onboarding.turn_on_label" defaultValue="Turn On"}}</a>
        </div>
        <div class="link-bottom">
          <a href="views/splash.html">{{t "onboarding.not_now_label" defaultValue="Not Now"}}</a>
        </div>
      </div>

    </div>
</div>