<div class="navbar">
  <div class="navbar-inner">
  </div>
</div>

<div class="pages">
  <!-- <div class="page toolbar-fixed toolbar-big no-navbar login-page" data-page="password-reset" id="login-page"> -->
    <div class="page no-navbar toolbar-fixed toolbar-big login-page" data-page="password-reset" id="login-page">

    <div class="page-shadow"></div>
    <div class="page-content">
      <div class="logo-center-block">
        <img class="login-logo" alt="Tommy" title="Tommy" src="images/LogoWhite.png">
        <img class="login-logo-text" alt="Tommy Text" src="images/TommyTextWhite.png">
      </div>

      <form id="reset-password-form">
        <h1>{{t "login.forgot_password" defaultValue="Forgot your password?"}}</h1>
        <p>{{t "login.enter_your_email_or_phone_number" defaultValue="Enter your Email or Phone number"}}</p>

        <div class="inputs">
          <input type="text" class="username active input-email-phone phone" value="" placeholder="{{t "label.email_or_phone_number" defaultValue="Email or Phone Number"}}" name="username" id="login_username" autocomplete="off" autocorrect="off">
          <div class="icons">
            <i class="material-icons inputIconE icon-email">mail_outline</i>
            <i class="material-icons inputIconE icon-phone">phone</i>
          </div>
        </div>

        <div class="country-code" data-template="countryListTemplate" style="display: none"></div>
      </form>
    </div>
    <div class="toolbar toolbar-bottom toolbar-bottom-button">
      <a href="#" data-submit="#reset-password-form" class="button button-big button-fill fixed-button">{{t "label.next" defaultValue="Next"}}</a>
    </div>
  </div>
</div>
