<div class="pages">
  <!-- <div class="page no-navbar no-toolbar login-page" id="registration-photo" data-page="registration-photo"> -->
  <div class="page no-navbar toolbar-fixed toolbar-big login-page" data-page="registration-photo" id="registration-photo">

    <div class="page-shadow"></div>
    <div class="page-content">

      <div class="logo-center-block">
        <img class="login-logo" alt="Tommy" title="Tommy" src="images/LogoWhite.png">
        <img class="login-logo-text" alt="Tommy Text" src="images/TommyTextWhite.png">
      </div>

      <form id="registration-form" class="reg-form text-center">

        <h1>Upload Profile Photo</h1>

        <div class="content-block text-center upload-photo-cont">
          <a href="#" class="item-link list-button do-upload-photo">
            <img src="images/UploadPhotoIcon.png" width="100">
          </a>
        </div>

      </form>
      <!-- <div class="get-started-btn">
        <button type="submit">Next</button>
      </div> -->
    </div>
    <div class="toolbar toolbar-bottom toolbar-bottom-button">
      <a href="#" data-submit="#registration-form" class="button button-big button-fill fixed-button">{{t "label.next" defaultValue="Next"}}</a>
    </div>
  </div>
</div>
