<div class="navbar">
    <div class="navbar-inner">
    </div>
</div>
<div class="pages">
  <!-- login-screen-embedded  -->
  <div class="page no-navbar splash-page" data-page="splash" id="splash-page">
    <!-- <div class="page-content"> -->

    <!-- Slider container -->
    <div class="swiper-container">

      <!-- Slides wrapper -->
      <div class="swiper-wrapper">

          <!-- SLIDER 1 -->
          <div class="swiper-slide slider-2">
            <div class="notific">
              <div class="logo-vertical">
                <img class="logo-slider-header" alt="Tommy" title="Tommy" src="images/Logo.png">
                <img class="tommytext-slider-header" alt="Tommy Text" src="images/TommyText.png">
              </div>
            </div>
          </div>

          <!-- SLIDER 2 -->
          <div class="swiper-slide slider-2">

            <div class="slider-header">
              <!-- <div class="col-logo"> -->
                <img class="logo-slider-header" alt="Tommy" title="Tommy" src="images/LogoWhite.png">
              <!-- </div> -->
              <!-- <div class="col-text"> -->
                <img class="tommytext-slider-header" alt="Tommy Text" src="images/TommyTextWhite.png">
                <div class="slider-header-heading white">{{t "onboarding.slider_messaging_title" defaultValue="Messaging"}}</div>

                <div class="arrow-next">
                  <i class="material-icons rightA">navigate_next</i>
                </div>
              <!-- </div> -->
            </div>

            <div class="content-block">

              <div class="col-100">

                <div class="bubble">
                  <div class="bubble-text">{{t "onboarding.slider_messaging_bubble1" defaultValue="Tommy is a messaging app that makes team life simpler! :)"}}</div>
                </div>

                <div class="bubble">
                  <div class="bubble-text">{{t "onboarding.slider_messaging_bubble2" defaultValue="Have Open Chats for your entire team to follow."}}</div>
                </div>

                <div class="bubble">
                  <div class="bubble-text">{{t "onboarding.slider_messaging_bubble2" defaultValue="Invite only group chats for private discussions."}}</div>
                </div>

                <div class="bubble">
                  <div class="bubble-text">{{t "onboarding.slider_messaging_bubble3" defaultValue="1-to-1 Chat for private direct messaging between team members"}}</div>
                </div>
              </div>
            </div>

          </div>

          <!-- SLIDER 3 -->
          <div class="swiper-slide slider-3">

            <div class="row slider-header">
              <div class="col-20">
                <img class="logo-slider-header" alt="Tommy" title="Tommy" src="images/LogoWhite.png">
              </div>
              <div class="col-80">
                <img class="tommytext-slider-header" alt="Tommy Text" src="images/TommyTextWhite.png">
                <div class="slider-header-heading white">{{t "onboarding.slider_actions_title" defaultValue="Actions"}}</div>

                <div class="arrow-next">
                  <i class="material-icons rightA">navigate_next</i>
                </div>
              </div>
            </div>

            <div class="content-block">

              <div class="col-100">

                <div class="bubble bubble-with-icon">
                  <div class="bubble-icon">
                    <i class="material-icons col-10 actionIcons">timer</i>
                  </div>
                  <div class="bubble-text">{{t "onboarding.slider_actions_bubble1" defaultValue="At 5:00PM"}}</div>
                </div>

                <div class="arrow-down"></div>

                <div class="bubble bubble-with-icon">
                  <div class="bubble-icon">
                    <i class="material-icons col-10 actionIcons">wb_sunny</i>
                  </div>
                  <div class="bubble-text">{{t "onboarding.slider_actions_bubble2" defaultValue="Check Weather Forecast at Beach Cafe"}}</div>
                </div>

                <div class="arrow-down"></div>

                <div class="bubble bubble-with-icon">
                  <div class="bubble-icon">
                    <i class="material-icons col-10 actionIcons">settings</i>
                  </div>
                  <div class="bubble-text">{{t "onboarding.slider_actions_bubble3" defaultValue="If above 30°"}}</div>
                </div>

                <div class="arrow-down"></div>

                <div class="bubble bubble-with-icon">
                  <div class="bubble-icon">
                    <i class="material-icons col-10 actionIcons">people</i>
                  </div>
                  <div class="bubble-text">{{t "onboarding.slider_actions_bubble4" defaultValue="And 5 or less team members scheduled"}}</div>
                </div>

                <div class="arrow-down"></div>

                <div class="bubble bubble-with-icon">
                  <div class="bubble-icon">
                    <i class="material-icons col-10 actionIcons">forum</i>
                  </div>
                  <div class="bubble-text">{{t "onboarding.slider_actions_bubble5" defaultValue="Message Beach Cafe Manager"}}</div>
                </div>
              </div>
            </div>
          </div>

          <!-- SLIDER 4 -->
          <div class="swiper-slide slider-4">

            <div class="row slider-header">
              <div class="col-20">
                <img class="logo-slider-header" alt="Tommy" title="Tommy" src="images/LogoWhite.png">
              </div>
              <div class="col-80">
                <img class="tommytext-slider-header" alt="Tommy Text" src="images/TommyTextWhite.png">
                <div class="slider-header-heading white">{{t "onboarding.slider_addons_title" defaultValue="Add-on's"}}</div>

                <div class="arrow-next">
                  <i class="material-icons rightA">navigate_next</i>
                </div>
              </div>
            </div>

            <div class="content-block">

              <div class="col-100">

                <div class="bubble">
                  <div class="bubble-text">{{t "onboarding.slider_addons_bubble1" defaultValue="Improve access to the resources your Team needs from accounting and payroll to tasking and scheduling."}}</div>
                </div>

                <div class="bubble">
                  <div class="bubble-text">{{t "onboarding.slider_addons_bubble1" defaultValue="Have custom software? Build your own Add-Ons for Tommy!"}}</div>
                </div>

                <div class="ballons">
                  <div class="ballon ballon1 big">
                    <span class="icon"><i class="material-icons">lightbulb_outline</i></span>
                    <span class="line"></span>
                  </div>
                  <div class="ballon ballon2 small">
                    <span class="icon"><i class="material-icons">lightbulb_outline</i></span>
                    <span class="line"></span>
                  </div>
                  <div class="ballon ballon3">
                    <span class="icon"><i class="material-icons">date_range</i></span>
                    <span class="line"></span>
                  </div>
                  <div class="ballon ballon4">
                    <span class="icon"><i class="material-icons">lightbulb_outline</i></span>
                    <span class="line"></span>
                  </div>
                  <div class="ballon ballon5 small">
                    <span class="icon"><i class="material-icons">attach_money</i></span>
                    <span class="line"></span>
                  </div>
                  <div class="ballon ballon6 big">
                    <span class="icon"><i class="material-icons">face</i></span>
                    <span class="line"></span>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <!-- SLIDER 5 -->
          <div class="swiper-slide slider-5">

            <div class="row slider-header">
              <div class="col-20">
                <img class="logo-slider-header" alt="Tommy" title="Tommy" src="images/LogoWhite.png">
              </div>
              <div class="col-80">
                <img class="tommytext-slider-header" alt="Tommy Text" src="images/TommyTextWhite.png">
                <div class="slider-header-heading white">{{t "onboarding.slider_experience_title" defaultValue="Experience"}}</div>

                <div class="arrow-next">
                  <i class="material-icons rightA">navigate_next</i>
                </div>
              </div>
            </div>

            <div class="content-block">

              <div class="col-100">

                <div class="bubble">
                  <div class="bubble-text">
                    {{t "onboarding.slider_experience_bubble1" defaultValue="Assign Team Members with Tags to create a personal experience.<br>Use Tags within Actions and to grant access to Add-ons or core functionality."}}
                  </div>
                </div>

              </div>

              <div class="row experience">
                <div class="col-33">
                  <p>#onboarding</p>
                  <div class="bubble round">
                    <div class="icon"><i class="material-icons circleCheck">done</i></div>
                  </div>
                  <div class="bubble round">
                    <div class="icon clear"><i class="material-icons circleClear">clear</i></div>
                  </div>
                  <div class="bubble round">
                    <div class="icon"><i class="material-icons circleCheck">done</i></div>
                  </div>
                </div>
                <div class="col-33">
                  <p>#bartender</p>
                  <div class="bubble round">
                    <div class="icon"><i class="material-icons circleCheck">done</i></div>
                  </div>
                  <div class="bubble round">
                    <div class="icon clear"><i class="material-icons circleClear">clear</i></div>
                  </div>
                  <div class="bubble round">
                    <div class="icon"><i class="material-icons circleCheck">done</i></div>
                  </div>
                </div>
                <div class="col-33">
                  <p>#manager</p>
                  <div class="bubble round">
                    <div class="icon"><i class="material-icons circleCheck">done</i></div>
                  </div>
                  <div class="bubble round">
                    <div class="icon"><i class="material-icons circleCheck">done</i></div>
                  </div>
                  <div class="bubble round">
                    <div class="icon clear"><i class="material-icons circleClear">clear</i></div>
                  </div>
                </div>
              </div>

            </div>

            <div class="get-started-btn">
              <!-- <a href="views/login.html">Login</a> -->
              <a href="views/registration.html"><i class="material-icons">play_circle_filled</i> {t "onboarding_slider_get_started" defaultValue="Get started"}}</a>
            </div>

          </div>

        </div>

        <!-- Pagination, if required -->
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </div>
</div>